.item {
  padding: 50px 32px;
  background: #fff;
  color: $main-color;
  position: relative;

  cursor: pointer;

  transition: 0.2s;

  &__icon {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    display: block;
  }

  &__title {
    color: inherit;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 150%;
    margin-top: 15px;
  }

  &__info {
    color: inherit;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &:hover {
    background: $accent-color;
    color: #fff;
  }

  &:hover path {
    fill: white;
  }
}
