.nav {
  display: flex;
  align-items: center;

  &__link {
    font-size: 18px;
    text-align: center;

    &:not(:first-child) {
      margin-left: 32px;
    }
  }
}

@media (max-width: 1098px) {
  .nav {
    display: none;
  }
}
