.title {
  color: $main-color;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}


@media (max-width: 1098px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 568px) {
  .title {
    font-size: 20px;
  }
}