.header {
  position: relative;

  &__top {
    padding: 16px 0;
    background: #010101;
    max-height: $header-top-height;
  }

  &__wrapper {
    @include flex-row-sb-ai;
  }

  &__contacts {
    @include flex-row-sb-ai;

    &-icon {
      width: 20px;
      height: 20px;
    }

    &-text {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      line-height: 120%;
      margin-left: 8px;
    }
  }
  &__link {
    @include flex-row-sb-ai;

    &:last-child {
      margin-left: 28px;
    }

    &:hover > .header__contacts-text {
      color: darken(#fff, 20);
    }
  }

  &__callme {
    color: $accent-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    transition: 0.2s;

    &:hover {
      color: $accent-hover;
    }
  }

  &__bottom {
    position: absolute;
    left: 0;
    right: 0;
    top: $header-top-height;
    background: rgba(1, 1, 1, 0.76);
    padding: 22px 0 28px;

  }

  
}
