.lawyers {
  padding: 80px 0;
  background: $section-bg;

  &__title {
    text-align: center;

    &::after {
      @include title-pseudo;
      margin: 0 auto;
    }
  }

  &__subtitle {
    margin: 24px auto 0;
  }

  &__profile {
    &:not(:first-child) {
      margin-left: 24px;
    }
    &-wrapper {
      margin-top: 48px;
      @include flex-row-sb-ai;
      overflow: scroll;
    }
  }
}

@media (max-width: 1098px) {
  .lawyers {
    padding: 60px 0;
  }
}