/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #222;
  height: 1000vh;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: content-box;
}

.header {
  position: relative;
}
.header__top {
  padding: 16px 0;
  background: #010101;
  max-height: 52px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__contacts-icon {
  width: 20px;
  height: 20px;
}
.header__contacts-text {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
  margin-left: 8px;
}
.header__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__link:last-child {
  margin-left: 28px;
}
.header__link:hover > .header__contacts-text {
  color: #cccccc;
}
.header__callme {
  color: #4f8ff0;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  transition: 0.2s;
}
.header__callme:hover {
  color: #115ac8;
}
.header__bottom {
  position: absolute;
  left: 0;
  right: 0;
  top: 52px;
  background: rgba(1, 1, 1, 0.76);
  padding: 22px 0 28px;
}

@media (max-width: 568px) {
  .header__link:last-child {
    display: none;
  }
}
.logo__name {
  color: #4f8ff0;
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.logo__sub {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
  margin-top: -10px;
}

@media (max-width: 1098px) {
  .logo__name {
    font-size: 22px;
  }
  .logo__sub {
    font-size: 16px;
  }
}
.link {
  color: #fff;
  font-weight: 700;
  line-height: 120%;
  transition: 0.2s;
}
.link:hover {
  color: #4f8ff0;
  text-decoration-line: underline;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__link {
  font-size: 18px;
  text-align: center;
}
.nav__link:not(:first-child) {
  margin-left: 32px;
}

@media (max-width: 1098px) {
  .nav {
    display: none;
  }
}
.burger {
  display: none;
}
.burger__icon {
  width: 24px;
  height: 24px;
}
.burger__icon_close {
  position: absolute;
  top: 16px;
  right: 16px;
}
.burger__check {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  z-index: 100;
}
.burger__check:checked ~ .burger__list {
  transform: none;
}
.burger__check:checked {
  position: fixed;
  top: 16px;
  right: 16px;
}
.burger__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #222;
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 38px 26px;
  transition: 0.4s;
  transform: translateX(100%);
}
.burger__link {
  font-size: 16px;
  padding: 12px 0;
  width: 100%;
  display: block;
}

@media (max-width: 1098px) {
  .burger {
    display: block;
  }
}
@media (max-width: 568px) {
  .burger__list {
    width: 100vw;
  }
}
.hero {
  height: 820px;
  padding: 260px 0 24px;
  background: #b9b9b9 url("../images/bg/hero_bg.webp") no-repeat center/cover;
}
.hero__container {
  height: 820px;
  display: flex;
  flex-direction: column;
}
.hero__title_top {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.hero__title_bottom {
  color: #4f8ff0;
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 8px;
  display: block;
  text-align: center;
}
.hero__subtitle {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-top: 8px;
  max-width: 1090px;
  margin: 0 auto;
}
.hero__link {
  border: 2px solid #4f8ff0;
  background: #4f8ff0;
  color: var(--white-color-100, #fff);
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  padding: 16px 22px;
  display: block;
  margin: 48px auto 0;
  max-width: 158px;
  transition: 0.2s;
}
.hero__link:hover {
  background: #115ac8;
}
.hero__slider {
  margin-top: auto;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.slider__pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 28px;
}
.slider__page {
  width: 4px;
  height: 24px;
  background: #e6e6e6;
  display: block;
}
.slider__page_active {
  height: 40px;
  background: #4f8ff0;
}
.slider__nav {
  width: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.slider__btn {
  width: 20px;
  height: 20px;
}
.slider__icon {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */